<%-include("include/_header")%>

<div class="container">
  <!-- update form -->

  <div class="cards-container">
    <div class="form-container">
      <div class="header">
        <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
        <h2 class="title">NEW POST</h2>
      </div>

      <%-include("include/_form")%>
    </div>
  </div>
</div>

<%-include("include/_footer")%>
