<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOUNTAINS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nosifer&family=Playpen+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://kit.fontawesome.com/9aaaae9789.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="nav_container">
        <a href="/">MOUNTAINS</a>
        <a href="/">HOME</a>
        <a href="/add_user">ADD POST</a>
      </div>
    </div>
  </body>
</html>
